.modal{
    position: relative;
    bottom: 20vh;
    height: 100%;
    width: 100%;
    background: #ffffff;
    opacity: 0;
    z-index: -1; 
    padding-left: 2%;
    padding-right: 2%;
    
    margin: 0 auto;
    width: 60vw;
    height: 60vh;
    min-height: fit-content;

    /* display: flex; */
    flex-direction: column;
    border: solid rgb(0, 0, 0) 1px;
    box-shadow: 5px 5px 10px  rgba(0, 0, 0, 0.616);
}

.active{
    opacity: 2;
    z-index: 2; 
}

.active + .fundo{
    background: rgba(0, 0, 0, 0.712);
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}

#addClientModal{
    display: flex;
    flex-direction: row;
    align-content: middle;
}


#novoClienteTXT{
    width: 80vw;
    height: fit-content;
    align-content: middle;
    font-family: 'Fjalla One', sans-serif
}

#modalExit{
    height: fit-content;
    margin: 5px;

}

.modalFooter{
    box-sizing: border-box;
    width: fit-content;
    display: flex;
    flex-direction: row;
    margin: 5vh auto;
    flex-wrap: wrap;
}

.modalFormInput{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    
} 

.break{
    width: 100%;
    margin: 5px;
}
#modalName, #modalEmail, #modalCelular{
    box-sizing: border-box;
    display: flex;
    flex: 1;
    width: 100%;
    height: 5vh;
} 


#modalState{
    
    width: fit-content;
    height: 6vh;
    vertical-align: middle;
}


#modalCity{
    display: flex;
    flex: 1;
    height: 5vh;
    vertical-align: middle;
}

#modalSave, #modalEdit{
    margin: 0 5px;
}

#modalEdit, #modalSave{
    background-color: transparent;
    border: .1px solid grey;
}

#modalEdit:hover{
    background-color: red;
    color: white;
    border: .1px solid grey;
}

#modalSave:hover{
    background-color: green;
    color: white;
    border: .1px solid grey;
}